.container {
  max-width: 120rem;
  margin: 8rem auto;

  background-color: $color-light-2;
  box-shadow: $shadow-dark;

  @media screen and (width <= 1200px) {
    max-width: 100%;
    margin: 0;
  }
}
