.cta {
  padding: 3.5rem 0;

  text-align: center;

  @media screen and (width <= 900px) {
    padding: 2rem 0;
  }

  &__header {
    margin-bottom: 2.5rem;

    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}
