.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 7rem;

  font-size: 1.4rem;

  background-color: #ffffff;
  border-block-color: $color-light-2;

  &__logo {
    margin-left: 2rem;
  }

  &__search {
    flex: 0 0 40%;
  }
}
